* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow-x: hidden;
}

.content {
    width: 100vw;
    max-width: 992px;
    height: auto;
    padding: 1rem;
    padding-top: 6rem;
    margin: 1rem auto;
    border-radius: 1rem;
    margin-bottom: 5rem;
    background-color: #3e3e3e;
}

@media (max-width: 1058px) {
    .content{
        padding-top: 9rem;
    }
}

@media (max-width: 725px) {
    .content{
        padding-top: 19rem;
    }
}
