.box-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  flex-wrap: wrap;
  top: 0;
  justify-content: center;
  background-color: #000000ab;
  opacity: 1;
  z-index: 3;
}

.modal {
  width: 30rem;
  height: 80%;
  display: none;
  animation: animate;
  animation-duration: 1600ms;
}

@keyframes animate {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.header {
  padding: 0.8rem 2rem 2rem 2rem;
  background-image: url(../img/card-bg.png);
  background-position: 50% 180%;
  background-repeat: no-repeat;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: -22px;
  margin-right: -44px;
}

.back button {
  background: none;
  border: none;
  cursor: pointer;
}

.back button img {
  height: 2rem;
}

.infos {
  margin-top: -50px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.modal .detail {
  display: flex;
  flex-direction: column;
}

.modal .name {
  text-transform: capitalize;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.modal .detail .types {
  display: inline-flex;
  padding: 0;
  margin: 0;
  gap: 25px;
  list-style: none;
}

.modal .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.8rem;
  border-radius: 1rem;
  filter: brightness(1.1);
}

.modal .number {
  display: flex;
  color: #fff;
  text-align: right;
  font-size: 2rem;
}

.photo {
  display: flex;
  justify-content: center;
}

.photo img {
  max-width: 100%;
  height: 230px;
}

.detailsModal {
  background-color: #fff;
  padding: 30px 30px 0 30px;
  margin-top: -50px;
}

.menuModal {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  align-items: baseline;
}

.menuModal button:hover {
  color: #000;
}

hr {
  margin-top: 20px;
  opacity: 0.2;
}

.menuModal button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: rgb(167, 167, 167);
}

hr {
  margin-top: 0;
}

.infoModal {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  line-height: 30px;
  font-size: 1rem;
}

.about1,
.about2 {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.about1 div,
.about2 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.infosPokemon {
  display: flex !important;
  flex-direction: column;
  height: 30vh;
  overflow-y: scroll;
}

.infosPokemon::-webkit-scrollbar {
  width: 0.15em;
}

.infosPokemon::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.infosPokemon::-webkit-scrollbar-thumb {
  background-color: #999;
  outline: 1px solid #999;
}

.about2 {
  text-align: justify;
}

.about2 label {
  line-height: 1.5rem;
  padding-right: 15px;
}

.text-gray {
  color: rgb(167, 167, 167);
}

.text-black {
  color: #000;
}

.selected {
  color: #000 !important;
  border-bottom: 3px solid rgb(22, 22, 22) !important;
  padding-bottom: 15px;
}

h4 {
  margin-bottom: 10px;
}

.health-bar {
  width: 200px;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
}

.bar-red {
  background: #c54;
  width: 100%;
  height: 5px;
  position: relative;
}

.bar-green {
  background: rgb(30, 155, 50);
  width: 100%;
  height: 5px;
  position: relative;
}

.evolutions {
  text-align: center;
}

.moves {
  line-height: 1.4rem;
  height: 30vh;
  overflow-y: scroll;
}

.moves table {
  text-align: left;
  padding: 0 10px;
  width: 100%;
}

.moves::-webkit-scrollbar {
  width: 0.15em;
}

.moves::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.moves::-webkit-scrollbar-thumb {
  background-color: #999;
  outline: 1px solid #999;
}

.imgEvolutions {
  display: flex !important;
  flex-direction: column;
  height: 30vh;
  overflow-y: scroll;
}

.imgEvolutions::-webkit-scrollbar {
  width: 0.15em;
}

.imgEvolutions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.imgEvolutions::-webkit-scrollbar-thumb {
  background-color: #999;
  outline: 1px solid #999;
}

.imgEvolutions img {
  height: 6rem;
}
